<!--#begin servers -->

<div style="width:95%; text-align:right; margin-bottom:.5em"><a href="{ addurl }"><img src="{ babSkinPath }images/Puces/addSmall.png" align="absmiddle" />&nbsp;{ t_add }</a></div>

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			
			<td width="1%">&nbsp;</td>
			<td>{ t_name }</td>
			<td>{ t_server_url }</td>
			<td>{ t_user_calendar_path }</td>
			<td>{ t_use_unique_id }</td>
		</tr>
		<!--#in getnext --> 
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			
			<td><a href="{ editurl }"><img src="{ babSkinPath }images/Puces/edit.png" alt="" /></a></td>
			<td>{ name }</td>
			<td>{ server_url }</td>
			<td>{ user_calendar_path }</td>
			<td>{ use_unique_id }</td>
			</tr>
			<!--#endin getnext -->
		</table>
	</td>
</tr>
</table>
<h1></h1>
<!--#end servers -->





<!--#begin editserver -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="saveServer" />
<input type="hidden" name="id_server" value="{ server }" />

<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
        <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
		<tr><td>
		<p>
          <strong>{ t_name } :</strong> <span style="color:red">*</span><br />
			<input type="text" name="name" value="{ name }" size="50" maxlength="64" />
		</p>
       
       	<p> 
            <strong>{ t_server_url } :</strong> <span style="color:red">*</span><br />
            <em>{ t_server_url_help }</em><br />
			<input type="text" name="server_url" value="{ server_url }"  size="50" maxlength="255" />
         </p>
         <p>
			<Strong>{ t_need_unique_id }</Strong>
			<input type="checkbox" id="use_unique_id" name="use_unique_id" value="true" { use_unique_id } ><br/>
			<em>{ t_need_unique_id_help }</em><br />
		</p> 
         <p>
          <strong>{ t_user_calendar_path } : </strong> <span style="color:red">*</span><br />
          <em>{ t_user_calendar_path_help }</em><br />
          <em>{ t_user_calendar_path_help2 }</em><br />
          <em>{ t_user_calendar_path_help3 }</em><br />
			<input type="text" name="user_calendar_path" value="{ user_calendar_path }" size="50" maxlength="64" />
		</p>
         </td></tr>
    </table>
</td>
</tr>
</table>

<p align="center"><input type="submit" value="{ t_record }" /><!--#if server --> &nbsp; <input type="submit" name="delete" value="{ t_delete }" onclick="return confirm(this.title);" title="{ t_confirm }" /><!--#endif server --></p>

</form>

<!--#end editserver -->




<!--#begin resources -->

<div style="width:95%; text-align:right; margin-bottom:.5em"><a href="{ addurl }"><img src="{ babSkinPath }images/Puces/addSmall.png" align="absmiddle" />&nbsp;{ t_add }</a></div>

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			
			<td width="1%">&nbsp;</td>
			<td>{ t_name }</td>
			<td>{ t_url }</td>
			<td width="1%">&nbsp;</td>
		</tr>
		<!--#in getnext --> 
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			
			<td><a href="{ editurl }"><img src="{ babSkinPath }images/Puces/edit.png" alt="" /></a></td>
			<td>{ name }</td>
			<td>{ url }</td>
			<td><a href="{ accessurl }">{ t_access }</a></td>
			</tr>
			<!--#endin getnext -->
		</table>
	</td>
</tr>
</table>

<!--#end resources -->



<!--#begin edit -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="saveResource" />
<input type="hidden" name="id_resource" value="{ resource }" />

<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
        <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
		<tr><td>
		<p>
          <strong>{ t_name } :</strong> <span style="color:red">*</span><br />
          <em>{ t_name_help }</em><br />
			<input type="text" name="name" value="{ name }" size="50" maxlength="64" />
		</p>
       
       	<p> 
            <strong>{ t_url } :</strong> <span style="color:red">*</span><br />
            <em>{ t_url_help }</em><br />
			<input type="text" name="url" value="{ url }"  size="80" maxlength="255" />
         </p>
         
         <div style="margin-left:3em">
	         <p> 
	            { t_nickname } :<br />
				<input type="text" name="nickname" value="{ nickname }" />
	         </p>
	         
	         <p> 
	            { t_password } :<br />
				<input type="password" name="password" value="{ password }" />
	         </p>
         </div>
         </td></tr>
    </table>
</td>
</tr>
</table>

<p align="center"><input type="submit" value="{ t_record }" /><!--#if resource --> &nbsp; <input type="submit" name="delete" value="{ t_delete }" onclick="return confirm(this.title);" title="{ t_confirm }" /><!--#endif resource --></p>

</form>

<!--#end edit -->


